* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #f6f6f6;
  background-image: url(/images/bg-bottom.svg), url(/images/bg-top.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.pricing-plan {
  text-align: center;
}
.price-comparison {
  display: flex;
  justify-content: center;
}

.card {
  width: 40vh;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(52, 31, 97, 0.1);
  padding: 1.5rem;
}
.card-body ul {
  padding: 10px;
  list-style: none;
  font-weight: normal;
}

ul li {
  font-size: 13px;
}

ul li::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.heading-price {
  font-weight: 700;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.dollar-sign {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-right: 0.4rem;
}

.btn {
  border: none;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 4px;
}

.professional {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  box-shadow: 10px 7px 30px rgba(52, 13, 135, 0.3);
  color: #fff;
  z-index: 1;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
  margin-left: -10px;
  margin-right: -10px;
}

.professional ul li::after {
  background-color: #bcbcbc59;
}

.professional .divider {
  background-color: #bcbcbc59;
}

.btn-professional {
  background: white;
  color: hsl(237, 63%, 64%);
}
.mt-20 {
  margin-top: 80px;
}

.switch {
  display: flex;
  justify-content: center;
  height: 30px;
}

.checkbox-select {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  justify-content: start;
  width: 60px;
  cursor: pointer;
  background: rgb(100, 98, 98);
  transition: 0.5s;
  border-radius: 34px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.slider::before {
  content: "";
  height: 27px;
  width: 27px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
  margin-top: 1px;
}

.switch input {
  display: none;
}

input:checked + .slider {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked + .slider::before {
  transform: translateX(30px);
}

.checkbox-div {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-4 {
  margin-top: 4px;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  body {
    background-size: 30%;
  }
  .price-comparison {
    display: block;
  }
  .card {
    width: 50vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .professional {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
